table {
    width: 80%;
    border-collapse: collapse;
}
th{
    /*font-family: 'Patua One', cursive;*/
    /*font-size:16px;*/
    /*font-weight:200;*/
    /*color: #0e0d0d;*/
    /*text-align:center;*/
    /*padding:20px;*/
    background-color: rgba(217, 239, 17, 0.95);*!*/
    /*border-color: black;*/

}